<!doctype html>
<html lang="en" xmlns:th="http:/www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Empleados</title>
</head>
<body>
    <h1>Interfaz Empleados</h1>
    <p>Puedes agregar, listar, editar y borrar registros de Empleados</p>
    <nav>
        <ul>
            <li><a href="/index">Inicio</a></li>
            <li><a href="/enterprises">Empresas</a></li>
            <li><a href="/users">Empleados</a></li>
        </ul>
    </nav>
    <main>
        <table>
            <tr>
                <th>Nombre</th>
                <th>Correo</th>
                <th>Empresa</th>
                <th>Rol</th>
            </tr>
            <tr th:each="users : ${user}">
                <td th:text="${users.nombre}"></td>
                <td th:text="${users.correo}"></td>
                <td th:text="${users.empresa.nombre}"></td>
                <td th:text="${users.rol}"></td>
                <td><a th:href="@{/users/editar/{id} (id = ${users.id})}">✍</a></td>
                <td><a th:href="@{/users/borrar/{id} (id = ${users.id})}">❌</a></td>
            </tr>
        </table>
        <a href="/add-user">Agregar un nuevo Empleado</a>
    </main>
</body>
</html>